<div class="nav-bread">
  <ol class="breadcrumb" >
    <li><a href="#">系统设置</a></li>
    <li class="active">公众号信息</li>
  </ol>
</div>

<div style="margin-top:20px;padding:20px;" class="row">
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-xs-1 control-label">公众号名称</label>
    <div class="col-xs-6">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
    <div class="col-xs-5">请输入公众号名称</div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-xs-1 control-label">微信ID</label>
    <div class="col-xs-11">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-1 col-xs-11">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>
</div>
